/* About 頁面樣式 - 從 page-rendering.tsx 的 generateAboutHTMLWrapper 提取 */

.about-page {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

/* 導航列樣式 */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	background-color: #222;
	border-bottom: 1px solid #080808;
}

.navbar-inverse {
	background-color: #222;
	border-color: #080808;
}

.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #999;
	text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: #fff;
	text-decoration: none;
}

.navbar-nav {
	margin: 0;
	list-style: none;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav > li > a {
	display: block;
	padding: 15px;
	color: #999;
	text-decoration: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
}

.pull-right {
	float: right !important;
}

/* 內容區域 */
.about-page .content {
	margin: 120px auto 20px;
	padding: 20px;
	line-height: 1.6;
}

.about-page .content p {
	margin-bottom: 1em;
}

.about-page .content ul {
	margin-left: 2em;
	margin-bottom: 1em;
}

.about-page .content li {
	margin-bottom: 0.5em;
}

.about-page .content a {
	color: #337ab7;
	text-decoration: none;
}

.about-page .content a:hover {
	text-decoration: underline;
}

.about-page .content h2.cc0 {
	margin-top: 2em;
	margin-bottom: 1em;
}

.about-page .content h2.cc0 a {
	color: #337ab7;
}

/* Logo 樣式 */
.about-page .logo {
	height: auto;
}

/* 響應式設計 */
@media only screen and (max-width: 767px) {
	.about-page .content {
		margin-top: 80px;
		padding: 15px;
	}
}

/* 隱藏類別 */
.app-only {
	display: none;
}

@media (max-width: 767px) {
	.app-only {
		display: block;
	}

	.web-only {
		display: none;
	}
}

/* 按鈕樣式 */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.btn-info:hover {
	color: #fff;
	background-color: #46b8da;
	border-color: #269abc;
}

/* Icon 樣式（需要載入 FontAwesome 字體） */
[class^='icon-'],
[class*=' icon-'] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

.icon-download-alt:before {
	content: '\f019';
}

.icon-remove-circle:before {
	content: '\f05c';
}

.icon-arrow-left:before {
	content: '\f060';
}

.icon-plus-sign:before {
	content: '\f067';
}

